<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

    <body>
        <%-include('includes/nav.ejs')%>
            <% if(adm.adm==true){ %>
                <h3 id="main-text">Todos usuários cadastrados</h3>
                <br>

                <table id="main-table">
                    <tr>
                        <th class="padd">
                            Icone
                        </th>
                        <th class="padd">
                            ID
                        </th>
                        <th class="padd">
                            Nome
                        </th>
                        <th class="padd">
                            Email
                        </th>
                        <th class="padd">Nascimento</th>
                        <th class="padd">
                            Ações
                        </th>
                    </tr>

                    <% users.forEach(users=> { %>
                        <%if(adm.id!=users.id){%>
                        <tr>
                            <td class="padd">

                                <% let foto='' ; if(users.foto=='' ){
                                    foto='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Xdf9OyXn9BpWL30gb6cpyLnkiCCbSaH8wVB1007o9WpYBDgb6J1_afDQTdJuqwgE3xM&usqp=CAU'
                                    }else{ foto=users.foto} %>

                                    <img alt="Foto de Perfil" src="<%=foto%>" width="60px">
                            </td>
                            <td class="padd">

                                <%=users.id %>
                            </td>
                            <td class="padd">
                                <%=users.nome%>
                            </td>
                            <td class="padd">
                                <%=users.email%>
                            </td>
                            <td class="padd">
                                <%=users.data_nascimento%>
                            </td>
                            <td class="padd">
                                <% if(users.adm == true){ %>
                                    <a href="/users/revogar/<%=users.id%>">Revogar Adm</a>
                                    <%}else if(users.adm == false){%>
                                        <a href="/users/conceder/<%=users.id%>">Conceder Adm</a>
                                        <%}%>
                            </td>
                        </tr>
                                                        
                        <%}%>
                        <%})%>
                            <%}%>
                </table>
                </div>
    </body>

</html>