<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

    <body>
        <%-include('includes/nav.ejs')%>
            <% if(users.adm==true){ %>
                <h3 id="main-text">Todos usuários cadastrados</h3>
                <br>
                <div class="filtros">
                 <label for="search">
                    <h5 id="filterword">Ordernar por Nascimento : </h5>
                </label>
              <a href="/user/asc"><input type="button" class="waves-effect waves-light btn" id="filtersubmit" value="⬆️"></a>
              <a href="/user/desc"><input type="button" class="waves-effect waves-light btn" id="filtersubmit" value="⬇️"></a>
            </div>
              <br>
                <br>


                <table id="main-table">
                    <tr>
                        <th class="padd">
                            Icone
                        </th>
                        <th class="padd">
                            ID
                        </th>
                        <th class="padd">
                            Nome
                        </th>
                        <th class="padd">
                            Email
                        </th>
                        <th class="padd">Nascimento</th>
                        <th class="padd">Raça Favorita</th>
                        <th class="padd">
                            Ações
                        </th>
                    </tr>

                    <% user.forEach(users2=> { %>
                        <%if(users.id!=users2.id){%>
                        <tr>
                            <td class="padd">

                                <% let foto='' ; if(users2.foto=='' ){
                                    foto='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Xdf9OyXn9BpWL30gb6cpyLnkiCCbSaH8wVB1007o9WpYBDgb6J1_afDQTdJuqwgE3xM&usqp=CAU'
                                    }else{ foto=users2.foto} %>

                                    <img alt="Foto de Perfil" src="<%=foto%>" width="60px">
                            </td>
                            <td class="padd">

                                <%=users2.id %>
                            </td>
                            <td class="padd">
                                <%=users2.nome%>
                            </td>
                            <td class="padd">
                                <%=users2.email%>
                            </td>
                            <% let dataoficial = ''; dataoficial = users2.data_nascimento.substring(8, 10) +'/'+users2.data_nascimento.substring(5, 7) +'/'+users2.data_nascimento.substring(0,4)%>
                            <div class="col-md-6">
                                <td class="padd">
                               <p><%=dataoficial%></p>
                            </td>
                            </div>
                            <td class="padd">
                                <%if(users2.racafavorita == ''){%>
                                Nenhuma Raça
                               <% }else{%>
                                    <%=users2.racafavorita%>
                                <%}%>
                            </td>
                            <td class="padd">
                                <% if(users2.adm == true){ %>
                                    <a href="/user/revogar/<%=users2.id%>" onclick="return confirm('Deseja mesmo remover o adm de <%=users2.nome%>?')">Tirar Adm</a>
                                    <%}else if(users2.adm == false){%>
                                        <a href="/user/conceder/<%=users2.id%>" onclick="return confirm('Deseja mesmo dar adm para <%=users2.nome%>?')">Dar Adm</a>  <!--EJS as vezes sublinha o "return" pois não reconhece ele, mas funciona do jeito correto-->
                                        <%}%>               
                            </td>
                        </tr>
                                                        
                        <%}%>
                        <%})%>
                            <%}%>
                </table>
                </div>
    </body>

</html>