<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

    <body>
        <%-include('includes /nav.ejs')%>
            <h3 id="main-text">Explore e conheça as mais diversas raças de cachorros</h3>
            <br>
            <div id="filter">
                <form method="GET"> <label for="search">
                        <h5 id="filterword">Filtro : </h5>
                    </label>
                    <input name="filter" id="inputfilter" type="text"> <input type="submit"
                        class="waves-effect waves-light btn" id="filtersubmit" value="&#128269;">
                </form>
            </div>
            <br>

            <table id="main-table">
                <tr>
                    <th class="padd">
                        Raça
                    </th>
                    <th class="padd">
                        Porte
                    </th>
                    <th class="padd">
                        Descrição
                    </th>
                    <th class="padd">Saiba mais</th>
                    <% if(users.adm==true){ %>
                        <th class="padd"><a href="/dogs/create">Create &#9998;</a></th>
                        <%}%>
                </tr>
                <% dogs.forEach(dog=> { %>
                    <tr>
                        <td class="padd">
                            <%=dog.raca %>

                        </td>
                        <td class="padd">
                            <%=dog.porte %>
                        </td>
                        <td class="padd">
                            <%=dog.descricaocurta %>
                        </td>
                        <td class="padd">
                            <a href="/dogs/details/<%=dog.id%>">Detalhes</a>
                        </td>
                        <% if(users.adm==true){%>
                            <td class="padd"><a href="/dogs/update/<%=dog.id%>">Update</a></td>
                            <td class="padd"><a href="/dogs/delete/<%=dog.id%>"
                                    onclick='return confirm("Deseja mesmo excluir <%=dog.raca%>?")'>Delete</<a>
                            </td>
                            <!--EJS as vezes sublinha o "return" pois não reconhece ele, mas funciona do jeito correto-->
                            <%}%>
                                <% if(users.racafavorita==dog.raca && users.adm==false){ %>

                                    <td><a href="/user/unfavorite/<%=dog.id%>">
                                            <h6>★</h6>
                                        </a></td>

                                    <% }else if(users.racafavorita !=dog.raca && users.adm==false){ %>

                                        <td><a href="/user/favorite/<%=dog.id%>">
                                                <h6>&#10025;</h6>
                                            </a></td>

                                        <% }%>
                    </tr>
                    <%})%>
            </table>
            </div>
    </body>

</html>