<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
    <body>
        <%-include('includes/nav.ejs')%>
        <h1>Mais sobre o fofo <%= dogs.raca %></h1>
    <h2>Porte: <%= dogs.porte %></h2>
    <h3 style="color: rgb(228, 94, 117)">Descrição Detalhada: <%= dogs.descricao %></h3>

    <br>
    <h3><a href="/dogs">Voltar</a></h3>
</body>
</html>