<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
    <body>
        <%-include('includes/nav.ejs')%>
        <h2 style="color: rgb(248, 153, 169);">Mais sobre o fofo <%= dogs.raca %></h2>
    <h3 style="color: rgba(128, 122, 123, 0.767)">Porte: <%= dogs.porte %></h3>
    <h4 style="border: 3px solid salmon; color: rgba(128, 122, 123, 0.767)">Descrição Detalhada: <%= dogs.descricao %></h4>

    <br>
    <h3><a href="/dogs">Voltar</a></h3>
</body>
</html>