<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
    <body>
        <%-include('includes/nav.ejs')%>
        <div id="dogimage"><img src="<%=dogs.foto%>" alt="foto do <%=dogs.raca%>" width="400"></div>
        <h2 id="dogdetailh2">Mais sobre o fofo <%= dogs.raca %></h2>
    <h3 class="dogdetailh" >Porte: <%= dogs.porte %></h3>
    <div id="detailsdiv">
    <h4 class="dogdetailh" >Descrição Detalhada: <%= dogs.descricao %></h4>
</div>    
    <br>
    <h3><a href="/dogs">Voltar</a></h3>
</body>
</html>