<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<%- include('includes/head') %>
<body>
<%-include('includes/nav.ejs')%>
<div class="container emp-profile">
            <form method="post"> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <% let foto =''; if(users.foto == ''){ foto = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Xdf9OyXn9BpWL30gb6cpyLnkiCCbSaH8wVB1007o9WpYBDgb6J1_afDQTdJuqwgE3xM&usqp=CAU' }else{ foto = users.foto} %>

                            <img alt="Foto de Perfil" id="espacamento" src="<%=foto%>" width="280px">
                        </div>
                        
                            <a href="/user/update" class="waves-effect waves-light btn" id="edit">Editar Perfil</a>
                            

                    </div>
                    <div  class="col-md-6">
                        <div  class="profile-head">
                            <div id="espacamento2">
                                    <h4>
                                        <b><%=users.nome%></b>
                                    </h4>
                                    </div>
                                    <br><br>
                                    <br><br>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="espacamento3" data-toggle="tab" role="tab" aria-controls="home"  aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                        <br><br><br>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                                <% if(users.adm == true){ %>
                                        <div class="row">
                            
                                            <div class="col-md-6">
                                                <label class="profileabout">Seu Id</label>
                                            </div>
                                             <div class="col-md-6">
                                                <p><%=users.id%></p>
                                            </div>
                                        </div>
                                        <%}%>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="profileabout">Nome</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=users.nome%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="profileabout">Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=users.email%></p>
                                            </div>
                                        </div>
                                        <%if(users.adm==false){%>
                                            <%let raca = ''; if(users.racafavorita == ''){ raca = 'Nenhuma raça favorita'}else{ raca = users.racafavorita}%>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="profileabout">Raça favorita</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=raca%></p>
                                            </div>
                                        </div> 
                                <%}%>
                                        <% if(users.adm == true){ %>
                                            <div class="row">
                                
                                                <div class="col-md-6">
                                                    <label class="profileabout">Tipo de Conta</label>
                                                </div>
                                                 <div class="col-md-6">
                                                    <p>Administrador</p>
                                                </div>
                                            </div>
                                            <%}%>
                                            <div class="row">
                                
                                                <div class="col-md-6">
                                                    <label class="profileabout">Data de Nascimento</label>
                                                </div>
                                                 <div class="col-md-6">
                                                    <p><%=users.data_nascimento%></p>
                                                </div>
                                           
                                            </div>
                            </div>
                    </div>
                </div>
            </form>           
        </div>
    </body>
    </html>