<!DOCTYPE html>
<html lang="en">
    <%-include('includes/head.ejs')%>
<body>
    <%-include('includes/nav.ejs')%>
    <table style="border: 1px solid black;">
    <tr>
        <td>Seu ID: <%=users.id%></td> 
        <th>
        <%=users.nome%>
        </th>
        <td><%=users.email%></td>
        <% let tipo =''; if(users.adm == true){tipo = 'Administrador' }else{tipo = 'Usuário'};%>
        <td>Tipo de conta : <%=tipo%></td> <!--PAPI COLOCA ESSE IF NA TUA PAGINA Q TU VAI FZR COM O BOOTSTRAP AI-->
        <td><%=users.data_nascimento%></td>
        <%if(users.adm==false){%>
        <td>Raça favorita : <%=users.racafavorita%></td>
        <%}%>
    </tr> 
    </table>
</body>
</html>