<!DOCTYPE html>
<html lang="en">
    <%-include('includes/head.ejs')%>
<body>
    <%-include('includes/nav.ejs')%>
    <table style="border: 1px solid black;">
    <tr>
        <td>Seu ID: <%=users.id%></td> 
        <th>
        <%=users.nome%>
        </th>
        <td><%=users.email%></td>
        <td><%=users.data_nascimento%></td>
        <td>Raças favoritas : <%=users.racafavorita%></td>
    </tr> 
    </table>
</body>
</html>